nav {
  display: inline-block;
  font-size: 20px;
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #AB947E;
  margin-bottom: 50px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  text-align: center;
  font-family: 'Exo', sans-serif;
}
i {
  margin-top: 4px;
  padding-right: 4px;
}
.menu {
  float: left;
}
.title {
  margin-right: 10%;
}

.container {
  padding-top: 5%;
  text-align: center;
  font-family: 'Exo', sans-serif;
}

p {
  font-family: 'Teko', sans-serif;
  font-size: 30px;
  margin-top: -1px;
}
