<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul>
        <li (click)="goToScenario()"><i class="fas fa-exclamation-triangle"></i>SCENARIOS</li>
        <li (click)="goToPrep()"><i class="fas fa-tasks"></i>PREP</li>
        <div class="dropdown">
          <button class="dropbtn"><i class="fas fa-first-aid"></i>SURVIVAL<i class="fas fa-angle-down"></i></button>
          <div class="dropdown-content">
            <a (click)="goToSurvival()">SURVIVAL</a>
            <a (click)="goToFirstAid()">FIRST-AID</a>
            <a (click)="goToNavigation()" >NAVIGATION</a>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>

<img src="./src/assets/img/firstAid.jpg" alt="">

<footer class="footer">
  <p><i class="fas fa-ambulance"></i>DO YOU REQUIRE IMMEDIATE ASSISTANCE?</p>
</footer>
