<h1>{{selectedScenario.title}}</h1>

<div *ngFor="let item of items | async">
  <div (click)="goToItemInfo(item)">{{item.title}}</div>
  <!-- <img src="{{item.source}}"> -->
</div>


<!-- <br><div>Bag: 
  <div *ngFor="let item of bag | async">
    <div>{{item.title}}</div>
    <p (click)="addAllToPrepList(bag)">Add to prep list</p>
  </div>
</div> -->

<p (click)="createNewItemForScenario()">Add item to {{selectedScenario.title}} (+)</p>
<p (click)="deleteThisScenario(); goBackToScenarioLibrary()">Delete</p>

<p (click)=goBackToScenarios()>go back to scenarios (-)</p>