.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  padding: 15px;
  background-color: #59544B;
  color: white;
}
p {
  text-align: center;
  font-family: 'Exo', sans-serif;
  font-weight: bold;
}
