h1 {
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-size: 80px;
}
p {
  margin-left: 47.5%;
  cursor: pointer;
  font-size: 25px;
  font-family: 'Exo', sans-serif;
  background-color: #4F6367;
  color: white;
  padding: 20px 50px;
  border-radius: 40px;
  font-weight: bold;
}
